warmup_task/documentation/main.aux
warmup_task/documentation/main.synctex.gz
warmup_task/documentation/main.fls
warmup_task/documentation/main.fdb_latexmk
warmup_task/documentation/main.log
.DS_Store
